<div class="section-paddings">
  <div class="flex items-center gap-4 mb-6 flex-wrap">
    <%= link_to messages_path, class: "flex items-center gap-1.5 text-sm opacity-50 hover:opacity-100 transition-opacity" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
      </svg>
      Inbox
    <% end %>
    <span class="text-sm opacity-25">/</span>
    <%= link_to user_book_path(@other_user, @book), class: "text-sm opacity-50 hover:opacity-100 transition-opacity truncate max-w-[200px]" do %>
      «<%= @book.title %>»
    <% end %>
  </div>

  <%= render "messages/chat",
      other_user: @other_user,
      book: @book,
      messages: @messages,
      mode: "page" %>
</div>