<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary>
    <% resource.errors.full_messages.each do |message| %>
      <div class="flash flash-alert"><%= message %></div>
    <% end %>
  </div>
<% end %>
