<div>
    <% if @received_requests.present? %>
        <h3 class="heading-h3">You have a new friend request</h3>
        <% @received_requests.each do |friendship| %>
            <%= render "friends/received_requests", friendship: friendship %>
        <% end %>
    <% end %>

    <h3 class="heading-h3">My Friend</h3>
    <% @all_friends.each do |friendship| %>
        <% friend = friendship.user == current_user ? friendship.friend : friendship.user %>
        <%= render "common/profile", user: friend %>
      <% end %>
</div>
