<div class="w-full flex flex-col gap-12">

  <!-- Header -->
  <header class="flex items-center justify-between gap-4 flex-col md:flex-row">
    <h1 class="text-3xl font-bold text-[#3b2a1a]">My Bookshelf</h1>
    <div class="flex items-center gap-4">
      <%= link_to "+ Add Book", new_book_path, class: "button button-primary" %>
    </div>
    

  </header>

  <!-- My Books -->

  <%= render "books/books_list", books: @my_books, user: nil %>

  <%= render "lent_books/index"%>
</div>
