<div class="w-full flex flex-col gap-12">

  <header class="flex items-center justify-between">
    <h1 class="text-3xl font-bold text-[#3b2a1a]"><%= @user.first_name %> <%= @user.last_name %>'s Bookshelf</h1> 
  </header>

  <%= render "books/books_list", books: @books, user: @user %>
</div>
