<section>
    <% if @incoming.any? %>
        <h2 class="heading-h2 text-center">Someone is interetsted in your books. It's time to share</h2>
    <% end %>
    <div>
        <% @incoming.each do |incoming_request| %>
            <div>
                <%= render "books/book", user: nil, book: incoming_request.book  %>
            </div>
        <% end %>
    </div>

</section>